 <!--Close #posts-container-->
 <div class="sidebar-right hidden-xs hidden-sm">
    <div class="card-post">
        <div class="row">
            <div class="col-sm-12">
                <p><i>Suggested post</i></p>
                <h3><a href="#" title="Company">Company</a></h3>
                <img src="img/company.jpg" alt="Suggested post">
            </div>
        </div>
    </div>
    <div class="card-post">
        <div class="row">
            <div class="col-sm-12">
                <h3>Popular Users</h3>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user2.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user3.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user4.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user5.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user6.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user7.jpg" alt="User name" class="img-circle">
              </a>
            </div>
            <div class="col-xs-3 popular-img">
              <a href="#">
                <img src="img/user8.jpg" alt="User name" class="img-circle">
              </a>
            </div>
      </div>
   </div>
   <div class="card-post">
     <div class="row">
         <div class="col-sm-12">
             <h3>Popular Photos</h3>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo1.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo2.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo3.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo4.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo5.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo6.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo7.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo8.jpg" alt="User name">
           </a>
         </div>
         <div class="col-xs-4 popular-img">
           <a href="#">
             <img src="img/photo9.jpg" alt="User name">
           </a>
         </div>
   </div>
   </div>

</div>