<div id="app">
  <div class="first-image">
    <div class="call-to-action">
      <div class="btn black-btn">The Decentralized Social Network</div>
      <br />
      <h1 class="btn black-btn">Total Tokens Supplied: {{ totaltokens }}
        <br>Total Users: {{ totalusers }}</h1>
      <h1></h1>
    </div>
    <br />
    <div class="call-to-action2">
      <div class="btn black-btn">
        <router-link to="/signup"> &nbsp; &nbsp;Sign Up &nbsp; &nbsp;&nbsp; &nbsp;| &nbsp;
        </router-link>
        <router-link to="/login">| &nbsp; &nbsp;&nbsp; &nbsp; Login &nbsp; &nbsp;</router-link>
      </div>
      <br />
    </div>

  </div>
</div>